.all{
    background-image: url("../imges/login-back.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0.3; */
  }
  .forget-password-container{
    width: 25%;
    height: 60%;
    background-color: white;
    padding: 50px;
  }
  .forget-password-container-logo{
    background-image: url("../imges/logo.png");
    background-size: 100% 100%;
    width: 20%;
    height: 30px;
    margin-bottom: 20px;
  }
  .forget-password-introduction{
    /* float: left; */
    text-align: left;
    margin-bottom: 30px;
  }
  .big-heavy{
    font-size: 24px;
    font-weight: 500;
    display: block;/*span独占一行*/
  }
  .big{
    font-size: 16px;
    font-weight: 400;
  }
  .form{
    width: 100%;
  }
  .email-input{
    width: 100%;
    height: 44px;
    clear: both;
    font-size: 16px;
    margin-bottom: 30px;
    border: 1px solid black;
  }
  .warning{
    font-size: 14px;
    text-align: left;
    color: red;
    margin-bottom: 10px;
  }
  .forget-password-button{
    height: 44px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .next-email-div{
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    margin-bottom: 20px;
    border-radius: 7px;
    cursor: pointer;
    box-sizing: border-box;
    /* max-width: 100%; */
    flex-wrap: nowrap;
    width: 100%;
    height: 46.5px;
  }
  .next-email{
    font-size: 16px;
    font-family: 'ZohoPuvi', Georgia;
    padding: 12px 14px;
    width: auto;
    word-break: break-all;
    /* display: inline-block; */
    display: block;
    line-height: 20px;
  }
  .change-email{
    position: relative;
    font-size: 14px;
    padding: 0px 14px 0px 0px;
    display: inline-block;
    color: #0091FF;
    line-height: 38px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .get-code-button {
    height: 44px;
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .code-input {
    height: 44px;
    flex: 3;
    border-radius: 7px;
  }
  .code-button {
    height: 44px;
    flex: 2;
    margin-left: 10px;
  }