.header{
  height: 53px;
  width: 100%;
}
.register-logo{
  float: left;
  background-image: url("../imges/logo.png");
  background-size: 100% 100%;
  width: 80px;
  height: 30px;
  margin: 15px;
}
a{
  text-decoration-line: none;
  color: #f0483e;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 20px;
}
.login-block{
  float: right;
  padding-top: 15px;
  padding-bottom: 15px;
}
.go-login{
  font-size: 14px;
  font-weight: 400;
}
.line{
  margin-bottom: 10px;
  height:0;
  border-top:2px solid #f1f1f1;
  text-align:center;
}
.line-text{
  position:relative;
  top:-14px;
  background-color:#fff;
}
.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form{
  width: 30%;
  height: 80%;
  text-align: left;
}
h3{
  font-size: 24px;
  font-weight: 500;
}
.register-input{
  width: 100%;
  height: 50px;
  /* margin-bottom: 30px; */
  /* margin-top: 30px; */
  border: 1px solid black;
}
.code-input{
  width: 40%;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 5%;
  border: 1px solid black;
}
.code-button{
  background-color: #f0483e;
  width: 55%;
  height: 50px;
  border: 0;
  margin-bottom: 10px;
  border-radius: 0;
}
.register-button{
  background-color: #f0483e;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 10%;
}
.warning{
  font-size: 14px;
  text-align: left;
  color: red;
}